#ui {
   display: grid;
   width: 100%;
   height: 100%;
   grid-template-columns: repeat(3, 1fr);
   display: none;
   background-color: #ffd493;
}
#ui > div {
   border: 1px solid black;
   margin: 0;
   height: 100%;
   width: 100%;
}
#ui > div > * {
   margin: 1vw;
}
term-list-element:nth-child(odd) {
   background-color: rgb(255, 121, 121);
}
term-list-element:nth-child(even) {
   background-color: rgb(253, 223, 134);
}
course-list-element:nth-child(odd) {
   background-color: rgb(191, 255, 187);
}
course-list-element:nth-child(even) {
   background-color: rgb(183, 255, 242);
}
.column-input {
   margin: 0 !important;
   padding: 1vw;
   border: black 1px solid;
   position: sticky;
   top: 0;
   background-color: antiquewhite;
}
.column-input > * {
   font-size: large;
}
#back-button {
   display: block;
   margin: auto;
}
#settings {
   display: grid;
   grid-template-rows: 1fr 1fr;
}
#settings > * {
   margin: 0 !important;
}